<div class="columns">
  <div class="column is-8">
    <app-video-box
    [negativeRelevancePercentage]="negativeRelevancePercentage"
    [controversialRelevancePercentage]="controversialRelevancePercentage"
    [positiveRelevancePercentage]="positiveRelevancePercentage">
      Video Box Container
    </app-video-box>
    <br>

    <app-reviews>Reviews</app-reviews>
    <br>
  </div>
  <div class="column is-4">
    <app-videos-list *ngIf="videoList" class="mdl-grid" [videoList]="videoList"></app-videos-list>
  </div>
</div>






