:host {
    display: flex;
  /*width:800px;*/
  /*height:500px;*/
}

.video {
    flex: 99%;
}

#plugin {
    flex: 1%;
}

#false {
    background: #CC4945;
}

#soso {
    background: #F8A93F;
}

#true {
    /*background: darkturquoise;*/
  background: #00d1b2;
}

