<div class="video">
    <iframe id="current-video" width="100%" height="500" src="https://www.youtube.com/embed/L3cpFYNPYz8" frameborder="0"
            allowfullscreen></iframe>
</div>
<div id="plugin">
    <div id="bars" style="height: 500px;">
        <div [style.height.%]="this.reviewService.negativeRelevancePercentage"  id="false" title="{{this.reviewService.negativeRelevancePercentage}}%"></div>
        <div [style.height.%]="this.reviewService.controversialRelevancePercentage" id="soso" title="{{this.reviewService.controversialRelevancePercentage}}%"></div>
        <div [style.height.%]="this.reviewService.positiveRelevancePercentage" id="true" title="{{this.reviewService.positiveRelevancePercentage}}%"></div>
    </div>
</div>
