<div class="box">
    <mat-tab-group>
        <mat-tab label="Positives">
                <div>
                    <progress class="progress is-small is-primary" id="progress-true" value="{{ this.reviewService.positiveRelevancePercentage || 0 }}" max="100">{{ this.reviewService.positiveRelevancePercentage || 0 }}%</progress>
                    <br>
                </div>

                <div class="event-timeline">
                    <ul>
                        <li *ngFor="let r of this.reviewService.positiveReviewList|| 0;">

                            <p class="event-item">
                                <small>{{ r.reviewedTimes }}</small>
                                <!-- TODO: add a times checked document -->
                                <span class="icon-item-type"><i class="fa fa-star"></i></span>
                                <a href="{{r.referenceUrl}}">{{r.description}}</a> shared by
                                <a href="#">Anonymous</a>

                                <!-- TODO: add users and username -->
                                <small>1 hours ago</small>
                                <!-- TODO: add a formatted date -->
                            </p>
                        </li>
                    </ul>
                </div>
        </mat-tab>


        <mat-tab label="Controversials">
            <div>
                <progress class="progress is-small is-warning"  id="progress-soso" value="{{ this.reviewService.controversialRelevancePercentage || 0}}" max="100">{{ this.reviewService.controversialRelevancePercentage || 0}}%</progress>
                <br>
            </div>
            <div class="container">
                <div class="event-timeline">

                    <ul>
                        <li *ngFor="let r of this.reviewService.controversialReviewList || 0;">
                            <p class="event-item">
                                <small>{{ r.reviewedTimes }}</small>
                                <!-- TODO: add a times checked document -->
                                <span class="icon-item-type"><i class="fa fa-star"></i></span>
                                <a href="{{r.referenceUrl}}">{{r.description}}</a> shared by
                                <a href="#">Anonymous</a>

                                <!-- TODO: add users and username -->
                                <small>1 hours ago</small>
                                <!-- TODO: add a formatted date -->
                            </p>

                            <!--<button class="delete" (click)="delete(r); $event.stopPropagation()">x</button>-->
                        </li>
                    </ul>

                </div>
            </div>
        </mat-tab>


        <mat-tab label="Negatives">
                <div>
                  <progress class="progress is-small is-danger"  id="progress-false"  value="{{ this.reviewService.negativeRelevancePercentage }}" max="100">{{ this.reviewService.negativeRelevancePercentage }}%</progress>
                  <br>
                </div>

                  <div class="event-timeline">

                    <ul>
                      <li *ngFor="let r of this.reviewService.negativeReviewList">
                        <p class="event-item">

                          <small>{{ r.reviewedTimes }}</small>
                          <!-- TODO: add a times checked document -->
                          <span class="icon-item-type"><i class="fa fa-star"></i></span>
                          <a href="{{r.referenceUrl}}">{{r.description}}</a> shared by
                          <a href="#">Anonymous</a>

                          <!-- TODO: add users and username -->
                          <small>1 hours ago</small>
                          <!-- TODO: add a formatted date -->
                        </p>

                        <!--<button class="delete" (click)="delete(r); $event.stopPropagation()">x</button>-->
                      </li>

                    </ul>

                </div>
        </mat-tab>

        <mat-tab label="+">

                <div class="field">
                    <label class="label">Ressource orientation</label>
                    <p class="control">
                    <span class="select">
                      <select #reviewType>
                          <option value="POSITIVE">positive</option>
                          <option value="NEGATIVE">negative</option>
                          <option value="CONTROVERSIAL">controversial</option>
                      </select>
                    </span>
                    </p>
                </div>



                <div class="field">
                    <label class="label">Reference URL</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="http://www.resource/site/rument.pdf" #reviewReferenceURL>
                    </p>
                    <p class="help is-success">This URL is registered</p>
                </div>


                <div class="field">
                  <label class="label">Comment</label>
                  <p class="control">
                    <input class="input" type="text" placeholder="This document clearly confirm the video point on ..." #reviewDescription>
                  </p>
                </div>

                <div class="field is-grouped">
                    <p class="control">
                        <button class="button is-primary"
                                (click)="addReview(reviewType.value, reviewReferenceURL.value, reviewDescription.value );
                                reviewDescription.value = reviewReferenceURL.value ='';">
                            Submit</button>
                    </p>
                </div>


        </mat-tab>




    </mat-tab-group>


</div>

