<div class="box related-list">
  <p class="autoplay">
    <span class="autoplay-title">Up next</span>
    <span class="autoplay-toggle">
              Autoplay
              <i class="fa fa-info-circle"></i>
            </span>
  </p>

    <a *ngFor="let video of videoList; let i = index;" class="media related-card" (click)="play(video.id)">

      <div class="media-left">
        <figure class="image">
          <img src="{{ video.snippet?.thumbnails.default.url }}" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <span class="video-title">{{ video.snippet?.title }}</span>
            <span class="video-account">{{ video.snippet?.channelTitle }}</span>
            <span class="video-views">{{ video.statistics?.viewCount  }} views</span>
          </p>
        </div>
      </div>
      <hr *ngIf="i == 1">
  </a>




</div>
<!--</div>-->
<!--<div class="mdl-cell custom-cell mdl-cell" id="{{i + video.id}}" *ngFor="let video of videoList; let i = index;" [ngClass]="{'last-item': i === videoList.length-1}">-->
<!--<div class="demo-card-square mdl-card mdl-shadow&#45;&#45;2">-->
<!--<div class="mdl-card__title mdl-card&#45;&#45;expand" (click)="play(video)" [ngStyle]="{'background': '#000 url(' + video.snippet?.thumbnails.high.url + ') center center no-repeat', 'background-size': '125%'}">-->
<!--<div class="video-info-block">-->


<!--<div class="video-informations">-->
<!--<span style="float: left;">-->
<!--<i class="material-icons">thumb_up</i>-->
<!--{{ video.statistics?.likeCount  }}-->
<!--</span>-->
<!--<span style="margin-left: 10px;">-->
<!--<i class="material-icons">remove_red_eye</i>-->
<!--{{ video.statistics?.viewCount }}-->
<!--</span>-->
<!--<span style="margin-left: 10px; float: right;">-->
<!--<i class="material-icons">access_time</i>-->
<!--{{ video.contentDetails?.duration  }}-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="vivideoname-block">-->
<!--<div class="video-informations">-->
<!--{{ video.snippet?.title }}-->
<!--</div>-->
<!--</div>-->
<!--<div class="video-play-button">-->
<!--<i class="material-icons">play_circle_filled</i>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="mdl-card__supporting-text">&ndash;&gt;-->
<!--&lt;!&ndash;<i (click)="addToPlaylist(video)" class="material-icons">playlist_add</i>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--<div class="loader loader-progress" *ngIf="loadingInProgress">-->
<!--<div class="loading"></div>-->
<!--</div>-->
