<div class="box related-list">
  <p class="autoplay">
    <span class="autoplay-title">Up next</span>
    <span class="autoplay-toggle">
              Autoplay
              <i class="fa fa-info-circle"></i>
            </span>
  </p>

    <a *ngFor="let video of videoList; let i = index;" class="media related-card" (click)="play(video.id)">

      <div class="media-left">
        <figure class="image">
          <img src="{{ video.snippet?.thumbnails.default.url }}" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <span class="video-title">{{ video.snippet?.title }}</span>
            <span class="video-account">{{ video.snippet?.channelTitle }}</span>
            <span class="video-views">{{ video.statistics?.viewCount  }} views</span>
          </p>
        </div>
      </div>
      <hr *ngIf="i == 1">
  </a>
</div>
